body {
	font-family: Ubuntu;
}

#main-stage {
	position: absolute;

	left: 0;
	top: 0;

	height: 100%;
	width: 100%;

	background: #EBEBEB;
}

#main-loader-layer,
#main-auth-layer,
#main-verify-layer {
	position: absolute;

	left: 0;
	top: 0;

	height: 100%;
	width: 100%;

	transition: top 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#main-auth-layer {
	text-align: center;
}

#main-verify-layer {
	transition: opacity 0.5s;
}

.main-auth-board {
	display: inline-block;

	width: 20em;
	height: 25em;

	border-radius: 3px;

	margin-top: -3em;

	background: #F5F5F5;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

	overflow: hidden;
}

.main-auth-cont {
	min-height: 100%;
	width: 100%;

	background: #F5F5F5;
}

.main-auth-title {
	background: #3498DB;

	padding: 0.7em 0;

	color: #F5F5F5;
	font-size: 1.5em;

	text-align: center;
}

.main-auth-slide-cont {
	position: absolute;
	
	left: 0;
	width: 100%;

	color: #424242;

	text-align: center;
}

.main-auth-slide {
	position: absolute;

	height: 100%;
	width: 100%;

	top: 0;
	left: 0;

	transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-auth-prompt {
	font-size: 1.2em;
}

#main-auth-resicon {
	font-size: 4em;
}

#main-auth-resmsg {
	margin-top: 1em;

	font-size: 1.2em;

	color: #424242;
}

#main-control {
	position: absolute;

	height: 3.5em;
	width: 100%;

	bottom: 0;
	left: 0;

	background: #313131;

	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3)
}

#main-control-icon-set {
	position: absolute;

	top: 0;
	left: 0.5em;
}

.main-control-icon {
	margin-left: 0.7em;

	font-size: 1.5em;
	color: #CCCCCC;

	cursor: pointer;

	transition: color 0.3s, box-shadow 0.3s;
}

.main-control-icon:hover {
	color: #FFFFFF;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

#main-control-info {
	position: absolute;

	right: 1em;

	font-size: 1.2em;

	color: #CCCCCC;

	cursor: default;
}

#main-verify-cont {
	margin-top: -3.5em;
	text-align: center;
}

#main-verify-icon {
	font-size: 5em;
}

.main-verify-prompt {
	font-size: 2.5em;
	color: #424242;
}

.main-textbox {
	width: 60%;

	border: none;
	border-radius: 3px;
	padding: 0.7em;
	font-size: 1em;

	background: #FFFFFF;

	outline: none;

	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3) inset;

	transition: box-shadow 0.5s;
}

.main-textbox:focus {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) inset;
}

.main-button {
	display: inline-block;

	margin: 1em 0;

	padding: 0.7em;
	font-size: 0.9em;

	border: none;
	border-radius: 3px;

	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3) inset;

	cursor: pointer;
	outline: none;

	transition: box-shadow 0.5s;
}

.main-button-green {
	color: #F5F5F5;
	background: #2ECC71;

	transition: background 0.5s;
}

.main-button-green:hover {
	background: #33E67F;
}

.main-vcenter {
	position: relative;
}

.main-loader {
	position: relative;

	left: 0;
	width: 100%;

	text-align: center;

	color: #EBEBEB;
}

#main-loader-title {
	display: block;

	margin-top: 0.5em;

	font-size: 2em;
}
